body {
    background-color: #333333;
    font-family: 'Montserrat', sans-serif;
}

hr {
     border: 0;
    height: 0.4em;
    background-color: #8FB68F;
    box-shadow: 0 0.1em 0.4em black inset;
}

a {
    padding: 0.2em;
    color: #648C8C;
}

a:visited {
    color: #3E5E5E;
}

.right-side {
    margin: 1em;
    float: right;
    text-align: center;
}

#top-img {
    width: 20em;
    position: absolute;
    top: 3em;
    left: 10em;
}

/*Content settings*/
#content {
    box-shadow: 0 0.2em 0.5em black inset;

    background-color: #93BFBF;
    padding: 0;
    border: 1em solid black;
    height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#content>div {
    color: #ACDFAC;
    padding: 1em;
}

#content>div:nth-of-type(1) {
    color: #3E5E5E;
    margin: 2em;
}

#content>div:nth-of-type(1n+2) {
    background-color: #537D53;
    box-shadow: 0 0.2em 2em black;
}

#content>div:nth-of-type(2n+0) {
    background-color: #669966;
}

#content>h2, #content>h3 {
    margin: 1em;
    text-align: justify;
}

#content>p {
    color: #ACDFAC;
    margin: 0;
    padding: 1em;
    line-height: 175%;
}

#content>p:nth-child(odd) {
    background-color: #669966;
}

#content>p:nth-child(even) {
    background-color: #537D53;
    box-shadow: 0 0.1em 0.4em black inset;
}

#content>div>div {
    background-color: #375A37;
    margin: 0;
}

#face {
    display: block;
    margin: 0 auto;
    width: 10em;
}

.list-spread {
    text-align: center;
    display: flex;
    padding: 1em;
    justify-content: center;
    box-shadow: 0 0.2em 0.4em black;
}

.list-spread>li {
    border: 0.1em solid #452409;
    background-color: #7E5635;
    color: #E4C9B2;
    margin: 0.2em;
    box-shadow: 0 0.1em 0.4em black;
}

.list-group {
    padding: 1em;
    box-shadow: 0 0.2em 0.4em black;
}

.list-group-item {
    border-color: #452409;
    background-color: #7E5635;
    color: #E4C9B2;
    box-shadow: 0 0.1em 0.4em black;
}

.list-group-item-heading {
    color: #E4C9B2;
}

.list-group-item>ul>li {
    color: #BF9C80;
}

/*Projects*/
#projects {
    padding: 0.5em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    box-shadow: 0 0.2em 0.4em black;
}

#projects>.project {
    margin: 0.5em;
    border: 0.1em solid #452409;
    background-color: #7E5635;
    width: 15em;
    box-shadow: 0 0.1em 0.4em black;
}

#projects>.project>.video {
    width: 100%;
}

#projects>.project>h4 {
    padding: 0.5em;
    color: #E4C9B2;
}

#projects>.project>p {
    padding: 0.5em;
    color: #BF9C80;
}

/*Nav buttons settings*/
.btn-group>button {
    color: #ACDFAC;
    background-color: #537D53;
}

.nav-btns {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.nav-btns>button {
    font-size: 1.3em;
}

.btn:active {
    background-color: #537D53;
}

.btn:focus {
    color: #537D53;
    background-color: #375A37;
}

.btn:hover {
    color: #ACDFAC;
    background-color: #669966;
}

.btn-group>.btn-current {
    color: #537D53;
    background-color: #375A37;
    box-shadow: 0 0.1em 0.4em black inset;
}

.row-nav::after {
    margin: 0 auto;
    position: relative;
    z-index: -1;
    top: -0.8em;
    content: "";
    width: 60%;
    height: 2.1em;
    background: radial-gradient(black 0%, transparent 60%);
}

/*Social Links*/
.social {
    display: flex;
    flex-direction: column;
    border-radius: 20%;
    background-color: black;
}

.social>a {
    margin: 0.5em 0;
    border-radius: 20%;
    padding: 0.5em;
    display: inline-block;
    background-color:  #537D53;
}

.social>a:hover {
    background-color: #669966;
}

.social>a>img {
    width: 100%;
}

/*Video*/
#video-container {
    display: none;
    z-index: 1;
    background: #000;
    box-shadow: 0 0 5em black;
    position: absolute;
    top: .5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
}

#close {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}

#vidya {
    z-index: 2;
    background: black;
    width: 98%;
    height: 92%;
    margin: 3% 1%;
}

source {
    content: "";
    display: inline-block;
    background-color: #FFF;
    position: absolute;
    z-index: 1;
    width: 20em;
    height: 10em;
    top: 0;
    left: 0;
}

/*Contact Page*/
#contact-page>.title {
    padding-top: 10vh;
    text-align: center;
}

#contact-page>.info {
    padding-top: 10vh;
    text-align: center;
}

#content #contact-page div {
    background-color: inherit;
}

/*Loading sign*/
.uil-ring {
    display: none;
}

/*Webkit stuff for them fancy chrome visuals*/
::-webkit-scrollbar {
    background-color: grey;
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 1px 0 4px rgba(0,0,0,1);
}

::-webkit-scrollbar-thumb {
    height: 5px;
    background-color: black;
}

@media (max-width: 320px) {
    #top-img {
    top: 7em;
    left: 5em;
    width: 15em;
    }
}

@media (max-width: 970px) {
    .row-nav::after {
        margin-left: -3%;
        width: 90%;
    }
}

@media (min-width: 1170px) {
    #main-content {
        margin-top: 2em;
    }

    #top-img {
    top: 1em;
    left: 25em;
    width: 24em;
    }

    #face {
    padding: 2em;
    margin-right: 1em;
    margin-top: -6.1em;
    float: right;
    width: 12em;
    }
}