<div>
    <h1>Welcome!</h1>
    <p>
        My name is Thomas.
    </p>
</div>

<div>
    <h3>Who am I?</h3>
    <p>I am an aspiring Full Stack developer. I have a passion for developing web applications and have dreams of traveling the world.</p>
</div>

<div>
    <h3>What do I know?</h3>
    <h4>Programming Languages</h4>
    <div class="row">
        <div class="col-sm-4">
            <p class="">C#</p>
        </div>
        <div class="col-sm-4">
            <p class="">Javascript</p>
        </div>
        <div class="col-sm-4">
            <p class="">Visual Basic.NET</p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <h4>The Big Ones</h4>
            <ul>
                <li>.NET</li>
                <li>ASP.NET 4.* & Core</li>
                <li>Node.js</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4>The Middle Ones</h4>
            <ul>
                <li>JQuery</li>
                <li>React/Redux</li>
                <li>Handlebars</li>
                <li>Express</li>
                <li>Entity Framework</li>
                <li>Bootstrap</li>
                <li>SASS/SCSS</li>
                <li>LINQ</li>
                <li>Gulp</li>
                <li>Tape</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4>The Little Ones</h4>
            <ul>
                <li>JSON/XML</li>
                <li>Functional Javascript</li>
                <li>JSX</li>
                <li>Various NPM modules</li>
            </ul>
        </div>
    </div>

</div>

<div>
    <h3>What have I done?</h3>
    <ul>

    </ul>
</div>