<div>
    <h1>Welcome!</h1>
    <p>
        My name is Thomas.
    </p>
    <img id="top-img" src="~/Images/hill-tree.svg" />
</div>

<div>
    <h3>Who am I?</h3>
    <img id="face" src="~/Images/my-face.svg" />
    <hr />
    <p>I am an aspiring Full Stack Web Developer. I have a passion for developing web applications and dreams of traveling the world.</p>
</div>

<div>
    <h3>What do I know?</h3>
    <hr />
    <h4>Programming Languages</h4>
    <div>
        <ul class="list-inline list-spread">
            <li class="panel panel-title">C#</li>
            <li class="panel panel-title">JavaScript</li>
            <li class="panel panel-title">VB.NET</li>
        </ul>
    </div>
    <br />
    <h4>Technologies</h4>
    <div class="row list-group">
        <div class="col-md-4 list-group-item">
            <h4 class="list-group-item-heading">The Big Ones</h4>
            <ul>
                <li>.NET</li>
                <li>ASP.NET 4.* & Core</li>
                <li>Node.js</li>
                <li>HTML5 and CSS3</li>
            </ul>
        </div>
        <div class="col-md-4 list-group-item">
            <h4 class="list-group-item-heading">The Middle Ones</h4>
            <ul>
                <li>JQuery</li>
                <li>React/Redux</li>
                <li>Handlebars</li>
                <li>Express</li>
                <li>Entity Framework</li>
                <li>Bootstrap</li>
                <li>SASS/SCSS</li>
                <li>LINQ</li>
                <li>Gulp</li>
                <li>Tape</li>
            </ul>
        </div>
        <div class="col-md-4 list-group-item">
            <h4 class="list-group-item-heading">The Little Ones</h4>
            <ul>
                <li>JSON/XML</li>
                <li>Functional JavaScript</li>
                <li>JSX</li>
                <li>SVG</li>
                <li>Various NPM modules</li>
            </ul>
        </div>
    </div>

</div>

<div>
    <h3>What have I done?</h3>
    <hr />
    <h5>double click on a video for fullscreen view.</h5>
    <div id="projects">
        <div class="project">
            <video src="~/Videos/fjs-fisken.webm" type="video/WebM" ondblclick="openVideo(this.src)">Your browser doesn't support HTML5 video.</video>
            <h4>Functional JS - Recursion</h4>
            <p>Creates a new string from every multiple of two from an array of items.</p>
        </div>
        <div class="project">
            <video src="~/Videos/fjs-oslo.webm" type="video/WebM" ondblclick="openVideo(this.src)">Your browser doesn't support HTML5 video.</video>
            <h4>Functional JS - Apply</h4>
            <p>A function that adds a string to the end of each argument.</p>
        </div>
        <div class="project">
            <video src="~/Videos/node-express.webm" type="video/WebM" ondblclick="openVideo(this.src)">Your browser doesn't support HTML5 video.</video>
            <h4>Node & Express</h4>
            <p>Having some fun with handling GET requests in Node.js.</p>
        </div>
        <div class="project">
            <video src="~/Videos/mongo.webm" type="video/WebM" ondblclick="openVideo(this.src)">Your browser doesn't support HTML5 video.</video>
            <h4>MongoDB</h4>
            <p>An example of a Node.js app using MongoDB to populate a list through a Handlebars template.</p>
        </div>
        <div class="project">
            <video src="~/Videos/regex-search.webm" type="video/WebM" ondblclick="openVideo(this.src)">Your browser doesn't support HTML5 video.</video>
            <h4>Regex</h4>
            <p>A simple client-side regex search function.</p>
        </div>
        <div class="project">
            <video src="~/Videos/json-handlebars.webm" type="video/WebM" ondblclick="openVideo(this.src)">Your browser doesn't support HTML5 video.</video>
            <h4>JSON & Handlebars</h4>
            <p>A website to track a players progress. Player data is loaded via a JSON file and templated with Handlebars.</p>
        </div>
        <div class="project">
            <video src="~/Videos/api-call-dynamic-content.webm" type="video/WebM" ondblclick="openVideo(this.src)">Your browser doesn't support HTML5 video.</video>
            <h4>API requests, HTML & CSS</h4>
            <p>One of the first websites I made. Very simple and has content loaded via the fake Online Rest API, <a href="https://jsonplaceholder.typicode.com/">JSONPlaceholder</a>.</p>
        </div>
        <div class="project">
            <video src="~/Videos/unity.webm" type="video/WebM" ondblclick="openVideo(this.src)">Your browser doesn't support HTML5 video.</video>
            <h4>C# & Unity</h4>
            <p>A funny game I made when messing around with <a href="https://unity3d.com/">Unity</a>.</p>
        </div>
    </div>
    <br />
    <p>
        This is not everything I've done, but it is a proper sample of the content I've produced. I spend a lot of my time working on coursework, so most of these projects were done over the
        summer, adding new technologies as I learned them. The lack of ASP.NET Core examples is because most of the technologies I spend my time learning only provide examples in Node.js. I try to
        make the most of my time, so working with the more mature Node.js platform, with its abundant documentation and support, felt to be the logical decision. As a side note,
        this website is built on ASP.NET 4.5.2.
    </p>
</div>

<div>
    <h3>What am I working on?</h3>
    <hr />
    <p>My plans going forward include:</p>
    <ul>
        <li>Spend more time studying React.</li>
        <li>Recreate this portfolio site with React & ASP.NET Core.</li>
        <li>Get my <a target="_blank" href="https://www.microsoft.com/en-us/learning/mta-certification.aspx">MTA certification</a>.</li>
        <li>Get a job with a company of whom I'd be excited to work for.</li>
    </ul>
    <p>
        I very much look forward to entering the professional web development world. Nothing could make me happier than being able to work on creating web applications with a team of like-minded
        individuals.
</div>
